@font-face {
  font-family: 'Gudea';
  src: url('fonts/gudea/Gudea-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gudea';
  src: url('fonts/gudea/Gudea-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gudea';
  src: url('fonts/gudea/Gudea-Italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}

